{% extends 'navigation.html' %}
{% load static %}
{% block body %}



   

<body>

<div class="container">
  <h2>View Patient</h2>

  <table class="table table-hover"  id="example">
    <thead>
      <tr>
        <th>Patient Id</th>
        <th>Patient Name</th>
          <th>Gender</th>
          <th>contact Number</th>
          <th>Address</th>
      </tr>
    </thead>
     <tbody>
    {% for i in pat %}
     <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
         <td>{{i.gender}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.address}}</td>
         <td><a href="{% url 'delete_patient' i.id %}" onclick="return confirm('Are u sure to delete!')" class="btn btn-danger">Delete</a></td>
     </tr>



    {% endfor %}

    </tbody>
</table>


</div>

</body>
{% endblock %}
