{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<body>

<div class="container">
  <h2>View Patient</h2>

  <table class="table table-hover"  id="example">
    <thead>
      <tr>
        <th>Doctor Namw</th>
        <th>Patient Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Delete</th>
      </tr>
    </thead>
     <tbody>
    {% for i in appoint %}
     <tr>
        <td>{{i.doctor}}</td>
        <td>{{i.patient}}</td>
         <td>{{i.date1}}</td>
        <td>{{i.time1}}</td>

         <td><a href="{% url 'delete_appointment' i.id %}" onclick="return confirm('Are u sure to delete!')" class="btn btn-danger">Delete</a></td>
     </tr>



    {% endfor %}

    </tbody>
</table>


</div>

</body>
{% endblock %}
